.controls-container {
  display: flex;
  padding: 15px;
  height: 15vh;
  width: 90%;
  margin: auto;
  align-items: flex-end;
  margin-top: 15px;
  background: #181926;
  border-radius: 14px;
}

.animation-controls-container {
  display: flex;
  flex-direction: column;
  height: 13vh;
  width: 50%;
  background: #494d64;
  padding: 10px;
  border-radius: 14px;
}

.header {
  color: white;
  font-size: 1.5vh;
  margin-top: 0px;
  margin-bottom: 5px;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 20%;
}
