.button {
  display: block;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 1.3vh;
  font-weight: 700;
  background: #94e2d5;
  color: #24273a;
}

.button-container {
  display: flex;
  size: 1;
}

.cancel-animation {
  background: #393939;
  color: white;
}
